In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
%matplotlib inline

## Loading Data

In [14]:
dataframe = pd.read_csv('data/housing_prices.csv')
dataframe = dataframe.drop(['index', 'price', 'sq_price'], axis=1)[:10]
dataframe.head()

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0

In [18]:
dataframe['y1'] = [1,1,1,0,0,1,0,1,1,1]
dataframe['y2'] = (dataframe['y1'] == 0).astype(int)
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

## Prepare data for Tensorflow

In [27]:
inputX = dataframe[['area', 'bathrooms']].as_matrix()
inputY = dataframe[['y1', 'y2']].as_matrix()

## Hyperparmeters

In [29]:
learning_rate = 0.000001
training_epochs = 2000
display_steps = 50
n_samples = inputY.size

## Computation Graph/Neural Network

In [31]:
tf.placeholder(tf.float32, [None, 2])

weights = tf.Variable(tf.zeros(2, 2))

biases = tf.Variable(tf.zeros(2))